nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}


@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}