<div class="row">
    <aside>
        <h2>Aside</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repellat, quod debitis quibusdam excepturi facere quas, placeat, cupiditate neque dolore a. Cum, perferendis dolores reprehenderit tempore architecto impedit qui ipsam?</p>
    </aside>
    <section>
        <h2>Section</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perferendis aspernatur exercitationem alias cupiditate molestiae beatae reprehenderit neque illum distinctio, debitis commodi maiores molestias nam assumenda. Delectus minima sed facilis!</p>
    </section>
</div>